:root {
    --gutter: 25px;
    --radius: 13px;
    --color-primary: #1450D0;
    --color2: #BE41BB;
    --color3: #FF4D91;
    --color4: #FF8269;
    --color5: #FFBF55;
    --color6: #F9F871;
    --color7: #9090ff;
    --color-primary-bg: #1450D026;
    --color2-bg: #BE41BB26;
    --color3-bg: #FF4D9126;
    --color4-bg: #FF826926;
    --color5-bg: #FFBF5526;
    --color6-bg: #F9F87126;
    --color7-bg: #9090ff26;
    --color-shadow: rgba(161, 177, 204, 0.4);
}
code {
    font-family: monospace !important;
}
